/* Landing.css */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
    font-family: 'Jost', sans-serif;
}

.landing h1 {
    font-size: 4rem; 
    margin-bottom: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000;
}

.sync-text {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #7e56a6;
}

.landing button {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: white;
    background-color: #7e56a6;
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-family: 'Jost', sans-serif;
    font-weight: 600; 
    text-transform: uppercase;
    letter-spacing: 0.05em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
}

.landing button:hover {
    background-color: #a571d9;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.landing button:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
    .landing h1 {
        font-size: 2rem;
    }

    .landing button {
        padding: 0.8rem 1.6rem;
    }
}

